<a href="https://colab.research.google.com/github/vigneshpamba/24AG1A66B2/blob/main/data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_excel("/content/project1.xlsx")
data.head()

         name   age sex  marks       city
0       kajal  38.0   f   85.0  hyderabad
1     mahesh   42.0   m   65.0     mumbai
2     prabhas   NaN   m   64.0     gadwal
3      kalyan  50.0   m   76.0        NaN
4  allu arjun  38.0   f    NaN   dhoolpet

handling missing values

In [ ]:
data.fillna({
    'age':data['age'].mean(),
    'marks':data['marks'].mean(),
    'city':'unknown'

},inplace=True)
print(data)

         name   age sex  marks       city
0       kajal  38.0   f   85.0  hyderabad
1     mahesh   42.0   m   65.0     mumbai
2     prabhas  42.0   m   64.0     gadwal
3      kalyan  50.0   m   76.0    unknown
4  allu arjun  38.0   f   72.5   dhoolpet

removing duplicates

In [ ]:
# Use the data DataFrame loaded from the Excel file
df_no_duplicates = data.drop_duplicates()
print(df_no_duplicates)

         name   age sex  marks       city
0       kajal  38.0   f   85.0  hyderabad
1     mahesh   42.0   m   65.0     mumbai
2     prabhas   NaN   m   64.0     gadwal
3      kalyan  50.0   m   76.0        NaN
4  allu arjun  38.0   f    NaN   dhoolpet

In [ ]:
import pandas as pd
df = pd.DataFrame ({
    'age':[18,17],
    'name':['bob','alice'],
    'salary':[656685,786676]
})
print(df.dtypes)

age        int64
name      object
salary     int64
dtype: object

using astype

convert pecific columns to desired ytpes

In [ ]:
df['age'] = df['age'].astype(int)
df['salary'] = df['salary'].astype(float)
print(df.dtypes)

age         int64
name       object
salary    float64
dtype: object

encoding a numerical data

In [ ]:
# Use the data DataFrame loaded from the Excel file
data['sex']=data['sex'].map({'f':0,'m':1})
print(data)

         name   age  sex  marks       city
0       kajal  38.0    0   85.0  hyderabad
1     mahesh   42.0    1   65.0     mumbai
2     prabhas   NaN    1   64.0     gadwal
3      kalyan  50.0    1   76.0        NaN
4  allu arjun  38.0    0    NaN   dhoolpet

use one hot enoding for city

In [ ]:
data = pd.get_dummies(data, columns=['city'])
print(data)

         name   age  sex  marks  city_dhoolpet  city_gadwal  city_hyderabad  \
0       kajal  38.0    0   85.0          False        False            True
1     mahesh   42.0    1   65.0          False        False           False
2     prabhas   NaN    1   64.0          False         True           False
3      kalyan  50.0    1   76.0          False        False           False
4  allu arjun  38.0    0    NaN           True        False           False

   city_mumbai
0        False
1         True
2        False
3        False
4        False

feature scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data['marks'] = scaler.fit_transform(data[['marks']])
print(data)

         name   age  sex     marks  city_dhoolpet  city_gadwal  \
0       kajal  38.0    0  1.000000          False        False
1     mahesh   42.0    1  0.047619          False        False
2     prabhas   NaN    1  0.000000          False         True
3      kalyan  50.0    1  0.571429          False        False
4  allu arjun  38.0    0       NaN           True        False

   city_hyderabad  city_mumbai
0            True        False
1           False         True
2           False        False
3           False        False
4           False        False

array key feaatures

In [ ]:
import pandas as pd
data = {
    'name':['alice']
}